*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.shadow{
   width: 300px;
   height: 500px;
   box-shadow: 0px 0px 5px rgb(184, 184, 36);
   margin: 10vh auto;
   background-color: rgb(255, 255, 0);
   border-radius: 10px;
   transform: rotate(-15deg);
}